# pdf folder
PDF/

# slides folder
Slides_Note/TUM_MVG/Reference/
Slides_Note/TUM_MVG/Slides/
Slides_Note/TUM_MVG/*.bat
Slides_Note/TUM_MVG/*.bat
Slides_Note/THU_DS/
Slides_Note/UCAS_Courses/

# Jupyter Notebook
*.ipynb_checkpoints