# pdf folder
PDF/

# slides folder
Slides_Note/TUM_MVG/Reference/
Slides_Note/TUM_MVG/Slides/
Slides_Note/TUM_MVG/*.bat
Slides_Note/TUM_MVG/*.bat
Slides_Note/THU_DS/Slides/
Slides_Note/UCAS_Courses/
Slides_Note/Stanford_Algorithms/Slides/

# Jupyter Notebook
*.ipynb_checkpoints